@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import "./reset.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
}

.content {
  background-image: url(./assets/images/bg.png);
  height: 100%;
  width: 100%;
  padding-bottom: 11px;
}

.form {
  max-width: 760px;
  width: 100%;
  padding: 96px 98px 183px 98px;
  margin: 0 auto;
  background-color: #ffffff;
}

.form.display-none{
  display: none;
}
.wrapper {
  margin-bottom: 11px;
}
.input {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px 244px 14px 16px;
  margin-bottom: 58px;
  border: 1px solid #cccccc;
  outline: 2px solid transparent;
  transition: all ease 0.5s;
  cursor: pointer;


  &__label {
    display: grid;
    gap: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    cursor: pointer;
   position: relative;
  }
  &__label::after{
  display: none;
    position: absolute;
    content: "";
    background-image: url(./assets/images/errorIcon.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 20px;
    height: 20px;
    top: 40px;
    right: 18px;
  }
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}
.input:focus,
.input:hover {
  outline: 2px solid #7a5cfa;
  border: 1px solid transparent;
}
.input.error {
  outline: 2px solid #eb5757; 
}


.input__label.error-icon + .input__label::after{
  display: block;
}

.wrapper--checkbox {
  display: grid;
  gap: 32px;
  margin-bottom: 32px;
}

.checkbox {
  position: relative;
  &__label {
    font-weight: 400;
    line-height: 24px;
    color: #666666;
    padding-left: 36px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__input--style {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    top: 0;
    left: 0;
    transition: all ease 0.3s;
  }
  &__input:checked + .checkbox__input--style:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 13px;
    background-image: url(./assets/images/checkbox.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.radio {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
  &__label {
    position: relative;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
    padding-left: 40px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
  }

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__input--style {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 32px;
    top: 0;
    left: 0;
    transition: all ease 0.3s;
  }
  &__input:checked + .radio__input--style:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #7a5cfa;
    border-radius: 32px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dropdown {
  max-width: 564px;
  width: 100%;
  position: relative;

  margin-bottom: 32px;

  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #666666;
    margin-bottom: 8px;
  }

  &__button {
    position: relative;
    color: #333333;
    width: 100%;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 16px 48px 16px 16px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #cccccc;
    outline: 2px solid transparent;
    cursor: pointer;
    transition: all ease 0.3s;
  }

  &__button:focus {
    outline: 2px solid #7a5cfa;
    border-bottom: 1px solid transparent;
  }

  &__button:hover {
    outline: 2px solid #7a5cfa;
  }

  .js-active {
    outline: 2px solid #7a5cfa;
  }
  .js-active.dropdown__button::before {
    transform: rotate(0deg);
    top: 25px;
    background-image: url(./assets/images/button-arrow.svg);
  }

  &__button::before {
    position: absolute;
    z-index: 1;
    content: "";
    background-image: url(./assets/images/button-arrow.svg);
    width: 12px;
    height: 8px;
    right: 25px;
    top: 25px;
    transform: rotate(180deg);

    pointer-events: none;
  }

  &__list {
    position: absolute;
    z-index: 2;
    display: none;
    left: 0px;
    top: 80px;
    width: 100%;
    max-height: 168px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #cccccc;
  }

  &__list::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__list--item {
    position: relative;
    width: 100%;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    font-weight: 400;
    padding: 15px 48px 15px 16px;
    text-align: left;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all ease 0.2s;
  }
  &__list--item:hover {
    background-color: #7a5cfa;
    color: #ffffff;
  }
  &__list--item:first-child {
    border-top: 1px solid transparent;
  }
  &__list--item:last-child {
    border-bottom: 1px solid transparent;
  }

  .js-visible {
    display: block;
  }
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  &__button {
    line-height: 24px;
    border: none;
    color: #ffffff;
    background: #7a5cfa;
    border-radius: 8px;
    width: 172px;
    padding: 16px;
    cursor: pointer;
    transition: all ease 0.5s;
    margin-bottom: 10px;
  }
  &__button:hover {
    opacity: 0.7;
  }
  &__button:focus {
    opacity: 0.7;
  }
  &__button:active {
    transform: scale(0.95);
  }
}

.modal {
  display: none;
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 400px;
    max-width: 1000px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px;
  }

  &__bg {
    position: relative;
  }

  &__bg--image {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
  }
  &__bg::after {
    position: absolute;
    content: "";
    width: 240px;
    height: 240px;
    background-image: url(./assets/images/Laptop.svg);
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__success {
    max-width: 600px;

    width: 100%;
    position: relative;
  }
  &__success--image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 22px;
    right: 22px;
  }

  &__text {
    font-size: 40px;
    line-height: 46px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 114px;
    padding: 174px 0px 0px 0px;
    width: 100%;
  }
  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    position: relative;
  }
  &__link--avatar {
    margin-left: 91px;
    color: #007ae9;
    text-decoration: none;
  }
  &__link--avatar::before {
    position: absolute;
    content: "";
    background-image: url(./assets/images/Avatar.png);
    border-radius: 50%;
    object-fit: cover;
    width: 44px;
    height: 44px;
    top: -8px;
    left: 35px;
  }
  &__link--text {
    margin-right: 40px;
    color: #007ae9;
    text-decoration: none;
  }
}

.modal.dispaly-block{
  display: block;
}